@page "/BlazorShop/Catalog"
@using Core.Models
@using Core.Services
@using Core.InterFaces
@inject IProductService ProductService
@inject NavigationManager Navigation


<PageTitle>Каталог</PageTitle>

<div class="banner">
    <h1>Каталог товаров</h1>
    <p>Найдите идеальные решения для вашего сада и двора</p>
</div>

<section class="product-section">
    @if (Products == null)
    {
        <div class="loading">
            <p>Загрузка товаров...</p>
        </div>
    }
    else
    {
        <div class="product-grid">
            <ul class="products-cards">
                @foreach (var product in Products)
                {
                    <li class="card" @onclick="() => NavigateToProduct(product.Id)">
                        @if (product.ImgUrl != null && product.ImgUrl.Any())
                        {
                            <img src="@product.ImgUrl[0]" alt="@product.Name" />
                        }
                        <div class="card-body">
                            <span class="title">@product.Name</span>
                            <span class="price">@product.Price.ToString("C", new System.Globalization.CultureInfo("ru-RU"))</span>
                            <p class="description">@product.Description</p>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
</section>


@code {
    private List<Product>? Products { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Products = await ProductService.GetAllProductsAsync();
    }

    private void NavigateToProduct(Guid productId)
    {
        Navigation.NavigateTo($"/ProductCard/{productId}");
    }
}
